*{
 text-align: center; /* this will align everrything to the center*/
}

body{
  background-color: rgb(255, 255, 255);
  align-items: center;
  margin: 0px;
}
h1{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
p{
  font-size: 25px;
}
  
.img{
  width: 17%;
  height: 17% ;
  border-radius: 50%;
}

.page-2{
  font-size: 25px;
  
}

.nav-bar ul{
  list-style-type: none;
  background-color: rgb(87, 86, 86);
  padding:0px;
  margin: 0px;
  overflow: hidden;
}
.nav-bar a{
text-decoration: none;
padding: 15px;
color: rgb(255, 255, 255);
display: block;
text-align: center;
}
.nav-bar a:hover{
  background-color: rgba(0, 0, 0, 0.391);
}

.nav-bar li{
  float: left;

}

.h2{
  text-align: left;
}

.left{
  text-align: left;
}
