*{
 text-align: center; /* this will align everrything to the center*/
}

body{
  background-color: rgb(125, 125, 125);
  align-items: center;
}
h1{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
p{
  font-size: 25px;
}
.img{
  width: 10%;
  height: 10% ;
  border-radius: 4px;
}

.road{
  
  /* added flex */
  display: flex;
  flex-direction:row ;
  justify-content: space-between ;

}

.side1{
  position: absolute;
  left: 0px;
}



